/* REMOVE TOUCH DELAYS */
html, body, button, a {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

/* TITLE */
h1.wp-block-post-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  padding-top: 20px;
  padding-bottom: 30px;
}

/* SCROLL TO REFRESH */
html,
body {
  overscroll-behavior-y: contain;
  touch-action: pan-x pan-y;
}

/* FORMINATOR HTML LABEL */
.delete-html-label label {
  display: none !important;
}
